// Place all the styles related to the interface controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.view {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.5s ease-in-out;
  width: 100vw;
  height: 90vh;
  position: fixed;
  top: 0;
}

.activities {
  display: flex;
  flex-direction: column;
  width: 100vw;
  z-index: 0;
  height: auto;
  position: relative;
  margin-bottom: 4em;
}

.playing {
  justify-content: center;
}

.playing * {
  z-index: 10;
}

.activity {
  background: lightgray;
  padding: 0.8em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.3em;
}

.blocks {
  background: grey;
  padding: 6px;
  width: 100%;
  position: relative;
  height: 2.5em;
}

.block {
  position: absolute;

  width: 2.5em;
  height: 2.5em;

  margin-right: 0.5em;
  background: rebeccapurple;

  transition: transform 0.4s, scale 0.4s, opacity 0.4s;
  transition-timing-function: ease-in-out;
}

.fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.queue {
  position: fixed;
  background: lightgrey;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 3.3em;

  display: flex;
  align-items: center;
}

.queue-blocks {
  flex-grow: 5;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  width: 4em;
  font-size: larger;
  border: 1px solid #888;
  margin: 0.2em;
  padding: 0.5em 0em;
}

.control {
  position: fixed;

  right: 1em;
  bottom: 3.3em;
  z-index: 30;
}

.go {
  background: lightgreen;
}

.pause {
  background: lightyellow;
}

.back {
  background: lightblue;
  left: 1em;
}

.name-container {
  height: 3.6em;
}

.activity-name {
  font-size: 1.8em;
  font-style: bold;
  margin: 0.3em;

  transition: transform 0.3s ease-in-out;
}

.playing .activity-name {
  font-size: 2.5em;
}
