// Place all the styles related to the interface controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.app {
  display: flex;
  justify-content: center;
}

.view {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.4s ease-in-out;
  width: 100vw;
  height: 90vh;
  overflow-x: hidden;
  top: 0;
}

.activities {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 1000px;
  z-index: 0;
  height: auto;
  position: relative;
  margin-bottom: 4em;
}

.playing {
  justify-content: center;
}

.playing * {
  z-index: 10;
}

.activity {
  background: lightgray;
  padding: 1em;
  margin: 1em;
  display: flex;
  align-items: center;
  border-radius: 0.3em;
  justify-content: space-between;
  box-shadow: 0px 2px 3px 1px #444;
  cursor: pointer;
}

.activity.clickable:active {
  transform: translate(0px, 2px);
  box-shadow: 0px 0px 3px 1px #444;
}

.blocks {
  background: grey;
  padding: 6px;
  width: 100%;
  position: relative;
  height: 2.5em;
  overflow: hidden;
  display: flex;
}

.block {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
  background: rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 1px black;
  font-size: 2em;
}

.fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.queue {
  position: fixed;
  background: lightgrey;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 3.3em;
  display: flex;
  align-items: center;
}

.queue-blocks {
  flex-grow: 5;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  width: 4em;
  font-size: larger;
  border: 1px solid #888;
  margin: 0em 0.2em;
  padding: 0.5em 0em;
}

.controls {
  position: fixed;
  left: 0;
  bottom: 3.3em;
  width: 100vw;
  z-index: 30;
  display: flex;
  justify-content: space-between;
}

.control {
  position: fixed;
  right: 1em;
  bottom: 3.3em;
  z-index: 30;
}

.new-activity {
  background: orange;
  left: 1em;
  width: 8em;
}

.activity.new {
  flex-direction: column;

  input.name {
    flex-grow: 2;
    color: black;
    -webkit-text-stroke: none;
    min-width: 100px;
  }

  .blocks-container {
    display: flex;
    width: 100%;
  }

  input.color {
    height: 100%;
    margin-right: 0.2em;
  }
}

.edit-row {
  margin-top: 0.5rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.row-part {
  display: flex;
  justify-content: flex-start;
}

.row-part.right {
  justify-content: flex-end;
}

.go {
  background: lightgreen;
}

.pause {
  background: lightyellow;
}

.complete {
  background: pink;
  width: 6em;
}

.back {
  background: lightblue;
  left: 1em;
}

.activity-name {
  font-size: 1.8em;
  font-style: bold;
  margin: 0.3em;
  height: 1em;
  transition: transform 0.3s ease-in-out;
}

.activity .name {
  user-select: none;
  -moz-user-select: none;
  color: white;
  -webkit-text-stroke: 1px black;
  font-weight: bold;
  font-size: 3em;
}

.playing .activity-name {
  font-size: 2.5em;
}
