// Place all the styles related to the interface controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activities {
  display: flex;
  flex-direction: column;
  width: 90vw;
}

.activity {
  background: lightgray;
  padding: 0.8em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.3em;
}

.blocks {
  display: inline-block;
  background: grey;
  padding: 6px;
  width: 95%;
  position: relative;
  height: 2.5em;
}

.block {
  display: inline-block;

  width: 2.5em;
  height: 2.5em;

  margin-right: 0.5em;
  background: rebeccapurple;

  transition: all 0.3s ease-in-out;
}

.fullscreen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.queue {
  position: fixed;
  background: lightgrey;
  bottom: 0;
  width: 100vw;
  height: 3.5em;

  display: flex;
  align-items: center;
}

.queue-blocks {
  flex-grow: 5;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  width: 4em;
  font-size: larger;
  border: 1px solid #888;
  margin: 0.2em;
  padding: 0.5em 0em;
}

.go {
  background: lightgreen;
}

.pause {
  background: lightyellow;
}

.activity-name {
  z-index: 1;
}
